.Contact{
    background-color: black !important ;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;

}


#contact {
    width: 100%;
    height: 130vh;
    background-color: beige;
    overflow: hidden;
}

.section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    letter-spacing: 6px;
    color: gray;
}

.contact-wrapper {
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    max-width: 800px;
    background-color: beige;

}

.contact-wrapper img{

    padding-left: 150px;
}

/*Contact --left */
.form-horizontal {
    float: left;
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
    background-color: beige;
}

.form-control, textarea {
    max-width: 400px;
    background-color: white;
    color: black;
    letter-spacing: 1px;
}

.send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;

}

.button {
    width: 400px;
    height: 34px;

}

.send-text {
    display: block;
    margin-top: 5px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
}


/*Contact--right*/
.direct-contact-container {
    width: 400px;
    float: right;
    margin-top: 5px;
    height:1000px;
    background-color: beige;
}

/* Location, Phone, Email Section */
.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: black;
}

.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
}

.place {
    padding-left: 62px;
}

.phone {
    padding-left: 62px;
}

.gmail {
    padding-left: 62px;
}

.contact-text a {
    color: black;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: burlywood;
    text-decoration: none;
}

#orar{

    padding-left: 50px;
    background-color:beige;
}
#program{

    text-transform: uppercase;
    text-align: center;
    color: darkslategray;
    font-weight: bold;
}

#conditii{

    padding-left: 20px;
    font-size: 20px;

}

#zi{

    color:blue;

}


