.DespreNoi{
    background-color: white !important ;
}

.about{
    padding:5% 0;
    width:100%;
    height:auto;
    background-color:beige;
}

.about .left{
    padding:2% 0 0 40px;
    float:left;
    width:50%;
    display:inline-block;
}

.about .right{
    width:50%;
    display:inline-block;
}


.smile{
    padding:5% 0;
    width:100%;
    height:auto;
    background-color:beige;
}
.smile .right{
    padding:2% 50px 0 60px;
    width:50%;
    display:inline-block;
}
.smile .left{
    float:left;
    width:50%;
    display:inline-block;
    padding-left: 20px;
    padding-top: 80px;
}

footer {
    text-align: center;
    padding: 8px;
    background-color: #bbcbce;
    color: white;

}



.video{
    padding:5% 0;
    width:100%;
    height:auto;
    background-color:beige;
}

.video .left{
    padding:2% 0 0 40px;
    float:left;
    width:50%;
    display:inline-block;
}

.video .right{
    width:50%;
    display:inline-block;
    background-color: beige;
    height:500px;
}


#prezentare {

    padding-right: 20px;
    padding-top: 20px;

}

.embed-responsive{

    height:500px;
}


