.Medici{
    background-color: beige !important ;
}

.navbar-medici{

    height:100px;
    width: 100%;
    background-color: white !important;
}

.textOverImage2 {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 250px; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 100%;
    font-size: 35px;
    color:gray;
    font-family: "Aerial";
    font-weight: bold;
}

.card {
    margin: 0 10px;
    height: 200px;
    width: 400px;

}

body {
    font: 1em/1.4 Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
}

#img-medici {
    max-width: 100%;
}

.cards {

    padding-top: 80px;
    display: flex;
    margin: 0 -10px;
    max-width: 1100px;
    height:500px;
}

.card {
    background-color: #fff;
}

.card .body {
    padding: 10px;
    font-size: .9rem;
    color: black;
}

.cards1{
    padding-top:250px;
}

#footer-medici {
    text-align: center;
    padding-top: 500px;
    background-color: beige;
    color: black;

}