
.Servicii{
    background-color: white !important ;
    height: 1000px;
}

.features-box {
    padding: 5% 10%
}

.feature-icon{
    font-size: 3rem;
    color:#ef8172;
    margin-bottom: 1rem;
}


.feature-box{
    padding: 0;
    background-color: beige;
    text-align: center;
}

#features h4{
    font-family: Montserrat;
    color: black;
}

#features{
    color: #8f8f8f;
    font-family: Montserrat-light;
    background: white;
    position: relative;

    background-color: beige;


}


table {
    width:70%;
    margin-left: 200px;
}

tr {
    border-top:1px solid #bec6c2;
}

thead tr {
    border-width:2px;
}

th {
    text-align:left;
}

th,td {
    padding:1em;
}

#tarife{

    font-size: 20px;
    font-weight: bold;
    color:white;
    background-color: midnightblue;
}

#rand-colorat{

    color:black;
    background-color: lightgray;
}

.container .container-servicii{

    padding: 2% ;
    margin: 0 auto;

}

.carousel-servicii{

    margin-left:150px;
    width:150px;
}

#img-servicii{

    height: 300px;
    width: 300px;
}


