table {
    empty-cells: show;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 0px;
    background-color: white;
}

td {
    /* Behave  like a "row" */

    width: 5px;
    padding-left: 20%;
}

.head{

    background-color: white;
}

.color{
    background-color: beige;
}