.App {
  background-color: beige ;
}

.mr-auto {
  text-align: right;
  overflow: auto;
  font-family: "Times New Roman";
  font-size: 15px;
  width: 200%;
  background-color: #bbcbce !important;
  height: 200px;
}

.navbar {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  border-style: solid;
  border-color: #bbcbce;
  background-color: #bbcbce;
}

.ml-auto{

  padding-right: 90px;
  padding-top: 50px;
  text-transform: uppercase;
  background-color:#bbcbce;
  border-style: solid;
  border-color: #bbcbce;
}

#home{
  color:black;
  font-weight: bold;
}
#home:hover, #home:focus{
  color: black;
  text-decoration: none;
  outline: none;
  border-bottom: 5px solid black;
}

.image img{
  padding-left:550px;

}

#nav-item{
  text-decoration: none;
  color: #000;
}

#nav-item:hover, #nav-item:focus{
  color: black;
  text-decoration: none;
  outline: none;
  border-bottom: 5px solid black;
}

.home-page {
  color: white;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  padding: 0px;


}

.imageAnimation {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode:forwards;

}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation img{

  padding-top: 0px;
  padding-right:100px;
}

.container {
  padding-top: -10px;
  margin: 0 auto;
}
.side-content {
  padding-top: 100px;
}


.card-row {
  margin-top: 1rem;
  background-color:beige;
  padding: 10%;
  width:100%;
  height:10%;
}

.card-row1 {
  margin-top: 1rem;
  background-color: beige;
  width:100%;
  height:10%;
}
.card-content:hover {
  transform: scale(1.1);
}

.img1{
  border-radius: 8px;
}
#card-color{
  background-color: lightgray;
}



.textAnimation {
  animation: fadeInAnimation1 ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode:forwards;
  position: absolute;
  top: 50%;
  right: 60%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: gray;
  font-family: "Agency FB";
  font-size: 50px;

}
@keyframes fadeInAnimation1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.centered{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Arial";
  font-size: 20px;

}

#treatment{
  color: cadetblue;
  font-family: "Arial";
  font-size: 40px;
  padding-left: 40%;

}

.image1 {
  position:absolute;
  top: 10px;
  left: 40px;
  right:100%;
  z-index: 1;
}
.image2 {
  position:absolute;
  top: 10px;
  left: 0;
  z-index: 2;
  margin : 0;
  padding : 0;
  width : 200px;
}

.card-row2 {

  background-color:lightgray;
  width:100%;
  height:5%;
  padding: 20%;

}

.centered1{
  position: absolute;
  top: 10%;
  left: 100%;
  font-size: 20px;
  color:gray;
  font-family: "Arial";

}
.textOverImage {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 60%;
  right: 0;
  top: 5%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 100%;
  font-size: 25px;
  color:gray;
  font-family: "Aerial";
}
.textOverImage1 {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 10%;
  right: 0;
  top: 10%; /* Adjust this value to move the positioned div up and down */
  text-align: left;
  width: 200%;
  font-size: 20px;
  color:gray;
  font-family: "Aerial";
}


/*Translate*/

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

